<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock System</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <div id="app">
      <div class="container mx-auto">
        <div v-if="products.length == 0">
            <div role="alert" class="alert alert-warning">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24">
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                </svg>
                <span>資料讀取中!</span>
                </div>
            <div class="flex w-52 flex-col gap-4">
                <div class="skeleton h-32 w-full"></div>
                <div class="skeleton h-4 w-28"></div>
                <div class="skeleton h-4 w-full"></div>
                <div class="skeleton h-4 w-full"></div>
            </div>
        </div>
        <div v-else>
            <div role="tablist" class="tabs tabs-lifted tabs-lg">
                <a role="tab" class="tab" v-for="category in categories" :class="{'tab-active' : category == selectedCategory}" @click="selectCategory(category)">{{category}}</a>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
                <div v-for="product in filteredProducts" class="card bg-base-100 shadow-xl" :class="{'bg-warning text-warning-content' : (product['現存數量']-product['安全數量']) <= 0 }" @click="showQuantityModal(product)">
                    <figure>
                        <img v-if="product['圖片']" :src="'https://www.ragic.com/sims/file.jsp?a=egnet&f=' + product['圖片']" alt="商品圖片" />
                        <img v-else class="card-img-top" src="Images/image.png">
                    </figure>
                    <div class="card-body items-center text-center">
                        <h2 class="card-title">{{ product['名稱'] }}</h2>
                        <p class="justify-end">庫存：{{ product['現存數量']}} {{ product['單位']}}</p>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
      </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        new Vue({
          el: '#app',
          data: {
            products: [],
            categories: [],
            selectedCategory: '全部',
          },
          mounted() {
            this.fetchData();
            this.interval = setInterval(this.fetchData, 600000);
          },
          computed: {
            filteredProducts() {
              if (this.selectedCategory === '全部') {
                return this.products;
              } else {
                return this.products.filter(product => product['分類'] === this.selectedCategory);
              }
            }
          },
          methods: {
            fetchData() {
              fetch('https://ap10.ragic.com/egnet/ok/14?api&v=3')
              .then(response => response.json())
              .then(data => {
                this.products = Object.values(data);
                this.categories = [...new Set(this.products.map(product => product['分類']))];
                this.categories.unshift('全部');
              });
            },
            selectCategory(category) { // 選擇分類
              this.selectedCategory = category;
            },
            showQuantityModal(item) {
              Swal.fire({
                title: item['名稱'],
                text: '調整數量',
                input: 'number',
                inputValue: -1,
                showCancelButton: true,
                confirmButtonText: '確定',
                cancelButtonText: '取消',
              }).then((result) => {
                if (result.isConfirmed) {
                  let Qty = Number(item['現存數量']) + Number(result.value) ;
                  if (Qty < 0) {
                    Swal.fire({title: "處理失敗", confirmButtonText: '確定', text: "數量不可為負數", icon: "warning"})
                  } else {
                    item['現存數量'] = Qty ;
                    let data = new FormData();
                    data.append('1000492', Qty);
                    let config = {
                      method: 'post',
                      url: 'https://ap10.ragic.com/egnet/ok/14/' + item._ragicId + '?api&v=3',
                      data : data
                    };
                    axios(config)
                    .then(response => {
                      if (response.data.status == 'SUCCESS'){
                        Swal.fire({title: "存擋成功", confirmButtonText: '確定', icon: "success"});
                      } else {
                        Swal.fire({title: "存擋失敗", confirmButtonText: '確定', text: response.data.msg, icon: "warning"});
                      }
                    })
                    .catch(error => {
                      Swal.fire({title: "連線失敗",text: error,icon: "error"});
                    });
                  }
                }
              })
            }
          }
        });
      </script>
  </body>
</html>
