<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <div class="btn-group-vertical">
                <button class="btn btn-outline-primary btn-group-lg" v-for="category in categories" :class="{'active' : category == selectedCategory}" type="button" @click="selectCategory(category)">{{category}}</button>
            </div>
          </div>
          <div class="col-10">
            <div class="row row-cols-2 row-cols-md-6 g-4">
              <div v-if="products.length == 0">
                <img class="card-img-top" src="Images/loading.png">
              </div>
              <div class="col" v-for="product in filteredProducts">
                <div class="card" :class="{'bg-warning' : (product['現存數量']-product['安全數量']) <= 0 }" @click="showQuantityModal(product)">
                  <img v-if="product['圖片']" class="card-img-top" :src="'https://www.ragic.com/sims/file.jsp?a=egnet&f=' + product['圖片']">
                  <img v-else class="card-img-top" src="Images/image.png">
                  <div class="card-body position-relative">
                    <h6 class="card-title" >{{ product['名稱'] }}</h6>
                    <p class="card-text">庫存：{{ product['現存數量']}} {{ product['單位']}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      new Vue({
        el: '#app',
        data: {
          products: [],
          categories: [],
          selectedCategory: '全部',
        },
        mounted() {
          this.fetchData();
          this.interval = setInterval(this.fetchData, 600000);
        },
        computed: {
          filteredProducts() {
            if (this.selectedCategory === '全部') {
              return this.products;
            } else {
              return this.products.filter(product => product['分類'] === this.selectedCategory);
            }
          }
        },
        methods: {
          fetchData() {
            fetch('https://ap10.ragic.com/egnet/ok/14?api&v=3')
            .then(response => response.json())
            .then(data => {
              this.products = Object.values(data);
              this.categories = [...new Set(this.products.map(product => product['分類']))];
              this.categories.unshift('全部');
            });
          },
          selectCategory(category) { // 選擇分類
            this.selectedCategory = category;
          },
          showQuantityModal(item) {
            Swal.fire({
              title: item['名稱'],
              text: '調整數量',
              input: 'number',
              inputValue: -1,
              showCancelButton: true,
              confirmButtonText: '確定',
              cancelButtonText: '取消',
            }).then((result) => {
              if (result.isConfirmed) {
                let Qty = Number(item['現存數量']) + Number(result.value) ;
                if (Qty < 0) {
                  Swal.fire({title: "處理失敗", confirmButtonText: '確定', text: "數量不可為負數", icon: "warning"})
                } else {
                  item['現存數量'] = Qty ;
                  let data = new FormData();
                  data.append('1000492', Qty);
                  let config = {
                    method: 'post',
                    url: 'https://ap10.ragic.com/egnet/ok/14/' + item._ragicId + '?api&v=3',
                    data : data
                  };
                  axios(config)
                  .then(response => {
                    if (response.data.status == 'SUCCESS'){
                      Swal.fire({title: "存擋成功", confirmButtonText: '確定', icon: "success"});
                    } else {
                      Swal.fire({title: "存擋失敗", confirmButtonText: '確定', text: response.data.msg, icon: "warning"});
                    }
                  })
                  .catch(error => {
                    Swal.fire({title: "連線失敗",text: error,icon: "error"});
                  });
                }
              }
            })
          }
        }
      });
    </script>
  </body>
</html>
